@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

body {
    font-family: 'Space Mono', monospace;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;    
}

.main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
}

.main-game{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 25px;
    margin-left: 25px;
}

#type-form{
    border: 1px solid;
    position: relative;
    bottom: 50px;
    background-color: whitesmoke;
    padding: 2.5px;
    font-weight: bold;
    border-radius: 5px;
}

#canvas{
    border: 1px solid whitesmoke;
    border-radius: 5px;
}

.header{
    font-size: 24px;
    font-weight: bold;
    color: whitesmoke;
    padding: 10px;
}

.link-list{
    display: flex;
    margin-top: 40px;
}

.link-list li{
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    color: whitesmoke;
}

.link-list li:hover{
    text-decoration: underline;
}

.instructions-panel{
    background-color: gray;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin-right: 25px;
}

.instructions{
    list-style-type: circle;
    list-style-position: inside;
    text-align: left;
}

.mission-text{
    white-space: pre-line;
    text-align: left;
}

.mission-panel{
    background-color: gray;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin-left: 25px;
}

.instructions-header{
    font-size: 20px;
    font-weight: bold;
}

.mission-header{
    font-size: 20px;
    font-weight: bold;
}

.footer{
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    color: whitesmoke;
}